oauth.consumerKey=*********************************
oauth.consumerSecret=*********************************
oauth.accessToken=*********************************
oauth.accessTokenSecret=*********************************

debug=true
loggerFactory=twitter4j.SLF4JLoggerFactory
jsonStoreEnabled=true

#http.proxyHost=localhost
#http.proxyPort=3129

